<app-navbar></app-navbar>
<section class="adminHome">
  <h1 class="adminHome__title">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="home"
    ></mat-icon>
    <span>Dashboard</span>
  </h1>
  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card class="adminHome__card">
          <mat-icon class="adminHome__card-icon" fontIcon="home"></mat-icon>
          <span class="adminHome__card-title">
            Usuarios
          </span>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="adminHome__card">
        <mat-icon class="adminHome__card-icon" fontIcon="home"></mat-icon>
        <span class="adminHome__card-title">
         Treinos
        </span>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="adminHome__card">
        <mat-icon class="adminHome__card-icon" fontIcon="home"></mat-icon>
        <span class="adminHome__card-title">
          Exercicios
        </span>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="adminHome__card">
        <mat-icon class="adminHome__card-icon" fontIcon="home"></mat-icon>
        <span class="adminHome__card-title">
          Usuarios
        </span>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
<!-- <mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">
      <span>Cursos disponiveis</span>
    </mat-toolbar>
    <table mat-table [dataSource]="courses" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let element">{{ element.category }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card> -->

<ng-container *ngFor="let item of courses$.data">
  <p> {{ item.name }}</p>
</ng-container>
